.fav {
  background-color: red;
  margin-right: 69%;
}
.sonnet {
  font-family: Tahoma;
}
body {
  font-family: Arial;
  width: 65%;
  display: block;
  border: 1px solid red;
  background-color: teal;
}
p {
  display: block;
}
nav {
  width: 30%;
  margin-left: 110%;
  border: 1px solid red;
}

/* notes: first poem is not a sonnet, no need to highlight
it or change it from Arial font */

/*
1. Open the quiz.css file in Sublime text.
  2. Change the font for the entire document to Arial.
  3. Change the font for the sonnet sections to Tahoma.
  4. Pick your favorite line from each sonnet and highlight it with the color of your choice.
  5. The main body should take up 65% width.
  6. The right sidebar should take up 30% width.
  7. Commit the file to git and push it to Github.
*/
